.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    h1 {
      font-size: 36px;
      .name {
        font-weight: 500;
      }
    }
  }
}
